/* General stylsheet for the editome website. */

body {
	font: 16px arial,sans-serif;
	color: #272727;
}

ul {
	display: block;
}

.topbar {
	background: #272727;
	border-bottom: 5px solid #16A521;
	min-width: 960px;
}

.topbartitle {
	width: 960px;
}

.nav {
	padding-bottom: 10px;
}
