{% extends "generic.html" %}

{% block pgtitle %}About{% endblock %}

{% block content %}
<p><a href="http://en.wikipedia.org/wiki/RNA_editing">RNA editing</a> is the post-transcriptional modification of RNA nucleotides from their genome encoded sequence. The most common type of editing in metazoans is deamination of Adenosine into Inosine catalyzed by the ADAR family of proteins.</p>
<p>This database aims to present a comprehensive collection of A-to-I editing sites in human, mouse, and fly transcripts. </p>
{% endblock %}

