{% extends "generic.html" %}

{% block pgtitle %}Download{% endblock %}

{% block content %}
<p><span style="text-decoration: underline;"><strong>Human</strong></span></p>
<a href="http://www.stanford.edu/~gokulr/database/Human_AG_all_hg19.txt">All sites</a><br>
<a href="http://www.stanford.edu/~gokulr/database/Human_AG_Alu_hg19.txt">Alu sites</a><br>
<a href="http://www.stanford.edu/~gokulr/database/Human_AG_RepetitiveNonAlu_hg19.txt">Repetitive non-Alu sites</a><br>
<a href="http://www.stanford.edu/~gokulr/database/Human_AG_NonRepetitive_hg19.txt">Non-repetitive sites</a>
<p><span style="text-decoration: underline;"><strong>Mouse</strong></span></p>
<a href="">Mouse sites</a>
<p><span style="text-decoration: underline;"><strong>Fly</strong></span></p>
<a href="">Fly sites</a>
{% endblock %}
