<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" />
	<title>
		{% block sitetitle %}Editome: RNA Editing Database - {% endblock %}
		{% block pgtitle %}{% endblock %}
	</title>
</head>

<body>
	<div id="container">
		<div id="topbar">
			<!-- Contains title and navigation. -->
			<div id="topbartitle">
				{% block topbartitle %}
				<h1>Editome</h1>
				{% endblock %}
			</div>
			<div id="nav">
				{% block nav %}
					<a href="/about/"{% if request.path == '/about/' %} class="active"{% endif %}>About</a>
					<a href="/search/"{% if request.path == '/search/' %} class="active"{% endif %}>Search</a>
					<a href="/download/"{% if request.path == '/download/' %} class="active"{% endif %}>Download</a>
					<a href="/literature/"{% if request.path == '/literature/' %} class="active"{% endif %}>Literature</a>
					<a href="/contact/"{% if request.path == '/contact/' %} class="active"{% endif %}>Contact</a>
				{% endblock %}
			</div>
		</div>
		<div id="content">
			<!-- Main content of each page here. -->
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<!-- Footer for all pages here.-->
		{% block footer %}
		<p>Brought to you by the <a href="http://lilab.stanford.edu">Li Lab</a>.</p>
		{% endblock %}
	</div>
</body>
</html>
