<html>
<head>
	<title>Literature</title>
</head>
<body>
<a href="http://www.stanford.edu/~gokulr/cgi-bin/django.cgi/about/"><strong>About</strong></a>     <a href="http://www.stanford.edu/~gokulr/cgi-bin/django.cgi/search/"><strong>Search</strong></a>     <a href="http://www.stanford.edu/~gokulr/cgi-bin/django.cgi/download/"><strong>Download</strong></a>     <a href="http://www.stanford.edu/~gokulr/cgi-bin/django.cgi/literature/"><strong>Literature</strong></a>     <a href="http://www.stanford.edu/~gokulr/cgi-bin/django.cgi/contact/"><strong>Contact</strong></a><br>
<p><span style="text-decoration: underline;"><strong>Human</strong></span></p>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/19478186">Li et al 2009. Science</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/20547637">Kiran & Baranov 2010. Bioinformatics</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/21960545">Bahn et al 2012. Genome Research</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22327324">Peng et al 2023. Nature Biotechnology</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22832026">Kleinman, Adoue & Majewski 2012. RNA</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22484847">Ramaswami et al 2012. Nature Methods</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/23291724">Ramaswami et al 2013. Nature Methods</a><br>
<p><span style="text-decoration: underline;"><strong>Mouse</strong></span></p>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22524474">Danecek et al 2012. Genome Biology</a><br>
<p><span style="text-decoration: underline;"><strong>Fly</strong></span></p>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/21179090">Graveley et al 2011. Nature</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22658416">Rodriguez, Menet & Rosbash 2012. Molecular Cell</a><br>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/23291724">Ramaswami et al 2013. Nature Methods</a><br>
</body>
</html>
