/* General stylsheet for the editome website. */

html {
	height: 100%;
}

body {
	font: 16px arial,sans-serif;
	color: #272727;
	margin: 0px;
	background-color: #EFEFEF;
	text-align: center;
	height: 100%;
}

#container {
	height: 100%;
}

body > #container {
	height: auto;
	min-height: 100%;
}

a {
	text-decoration: none;
	color: #418800;
}

a:hover {
	color: #FF5C00;
}

a:active {
	color: #FF5C00;
}


#topbar {
	background-color: #272727;
	/*border-bottom: 5px solid #16A521;*/
	min-width: 960px;
}

#topbartitle {
	text-align: center;
	height: 100px;
}

#topbartitle h1 {
	font: 56px arial,sans-serif;
	color: #FFF;
	padding-top: 21px;
	margin-top: 0px;
}

#nav {
	text-align: center;
}

#nav li {
	/*display: inline-block;*/
}

#nav a {
	color: #87D341;
	display: inline-block;
	width: 120px;
	padding: 6px;
}

#nav .active {
	color: #FF5C00;
	background-color: #EFEFEF;
}

#nav a:hover {
	color: #FF5C00;
	background-color: #EFEFEF;
}

#content {
	background-color: #FFF;
	padding: 20px;
	width: 960px;
	display: inline-block;
	margin: 20px;
	text-align: left;
	padding-bottom: 2em; /* Needs to be the same as height and (margin-top - padding-top) of footer. */
}

#footer {
	font-size: 12px;
	clear: both;
	position: relative;
	z-index: 10;
	height: 2em; /* footer positioning */
	margin-top: -3em; /* footer positioning */
	background-color: #C7C7C7;
	padding-top: 1em; /* footer positioning */
}

#footer p {
	margin: 0;
}
